
/*main elements */
* {
    box-sizing: border-box;
}


body {
    font-family: serif;
    line-height: 1.5;
    font-size: 18px;
    color: #00008B;
}
a :hover {
    background-color: #ffffff;
    text-decoration: underline;
}

.navbar {
    background-color:#c8d8e4;
    font-weight: 200px;
    transition: all 0.35s;
    letter-spacing: 1px;
    padding: 20px;
    width: 100%;
}

#main-nav .navbar-brand {
    font-weight: 600;
    color: #00008B;
}

.nav-link{
    color: #00008B;
}

.dropdown-item {
    color: #00008B;
}

.navbar-nav li  :hover {
    color:#f0a04b;
    text-decoration: underline;
    transition: all 0.35s;;
}

.jumbotron {
    background-image: url(/assets/images/hero.jpeg);
    width: 100%;
    height: 800px;
    padding-bottom: 200px;
}


.cardContainer {
padding: 20px;
background-color: #DEE2FF;
}

.card-img-top {
    height: 370px;
    width: 398px;
}

.card-title {
    font-size: 50px solid !important;
}

.btn-primary {
    

}