
/*main elements */
* {
    box-sizing: border-box;
}


body {
    font-family: serif;
    line-height: 1.5;
    font-size: 18px;
    color: #00008B;
}

.navbar {
    background-color:#c8d8e4;
    font-weight: 200px;
    transition: all 0.35s;
    letter-spacing: 1px;
    padding: 20px;
    width: 100%;
}

#main-nav .navbar-brand {
    font-weight: 600;
    color: #00008B;
}

.nav-link{
    color: #00008B;
}

.dropdown-item {
    color: #00008B;
}

.navbar-nav li  :hover {
    color:#f0a04b;
    text-decoration: underline;
    transition: all 0.35s;;
}

.jumbotron {
    background-image: url(/assets/images/hero3.jpg);
    background: fill;
    height: 90vh;
}


.work{
    background-color:#DEE2FF;
}

.cardContainer {
padding: 20px;
background-color: #DEE2FF;
}

.card-img-top {
    height: 370px;
    width: 398px;
}

.card-body h5 {
    font-size: 20px;
    font-weight: 1000;
}

.btn {
    background-color: #CBC0D3;
    border: none;
}

.btn-primary:hover{
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }

  .skillcontainer {
    padding: 20px;
    background-color: #EFD3D7;
  }

  .container h2 {
    font-weight: 1000;
  }

  .card-header {
    background-color:#FEEAFA;
  }
 
  .card-header .btn {
    color: #00008B;
    text-decoration: none;
    width: 10%;
  }

  .card-header .btn:hover{
    text-decoration: underline;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }
footer {
    background-color: #FFFFD2;

}

.about{
    padding: 20px;
    
}

.contact {
    background-color:#c2d2bd;
    padding: 20px;
}

.hlink {
    color: #00008B;
    text-decoration: none;
    font-size: 20px;
}

.hlink:hover{
    color:#f0a04b;
    text-decoration: underline;
    transition: all 0.35s;;

}